*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f2f2f2;
    margin: 50px;
}

.card{
    width:300px;
    padding:20px;
    background:white;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

/* Spinner Animation */
.spinner{
    width:40px;
    height:40px;
    border:5px solid lightgray;
    border-top:5px solid rgb(33, 34, 141)
    border-radius:50%;
    margin:auto;
    animation:spin 2s linear infinite;
}

@keyframes spin{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

/* Moving Image */
.image{
    margin-top:20px;
    animation:move 3s infinite alternate;
}

@keyframes move{
    from{transform:translateX(0px);}
    to{transform:translateX(50px);}
}

/* Fade In Text */
.text{
    opacity:0;
    animation:fade 4s forwards;
}

@keyframes fade{
    from{opacity:0;}
    to{opacity:1;}
}

/* Button Hover Animation */
.btn{
    padding:10px 20px;
    background:rgb(214, 58, 58);
    color:white;
    border:none;
    margin-top:20px;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.2);
    background:rgb(141, 17, 85);
}